
.border-control{
    margin: 0;

}

/*@media print {*/
/*    .x-panel-body, .x-panel {overflow:visible !important;border:none;}*/
/*}*/


.masterDiv {
    padding: 35px;
}
.dataview-org-item {
    margin-top: 60px;
    padding: 10px;
    /*background-color: lightcyan;*/
    width: 95%;
    max-width: 1680px;
}
.jumpVendor{
    font-size: 15px;
}
.accountsDiv{
    padding: 10px;
}
h3.accountName{
    font-size: 20px;
    color:cadetblue;
}
/*table styling*/
table {
    border-collapse: collapse;
    width: 100%;
}
.accountsDiv {
    padding-top: 10px;
}

h3.vendorName{
    font-size: 25px;
}
.preview{
    text-align: center;
    width: 100px;
}

h3.vendorPer{
    color:cadetblue;
}
.flagRed{
    color:red;
}

.flagGreen{
    color:green;
}
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
th {
    color: black;
    background: lightsteelblue;
}

table tr:nth-child(even){
    background: #F3F3F3;
}


@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .clearStylesOutput{
        overflow: visible !important;
        max-width: 1300px !important;
    }
    .masterDiv {
        padding: 5px;
    }
    .dataview-org-item {
        margin-top: 30px;
        padding: 5px;
        max-width: 80%;
    }

}