.pulse-button {

    position: relative;
    border: none;
    box-shadow: 0 0 0 0 rgba(30, 144, 255, 0.7);
    -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(127, 255, 0, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(127, 255, 0, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(127, 255, 0, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(127, 255, 0, 0);}}

.border-control{
    margin: 0;

}

/*@media print {*/
/*    .x-panel-body, .x-panel {overflow:visible !important;border:none;}*/
/*}*/


.masterDiv {
    padding: 35px;
}
.dataview-org-item {
    margin-top: 60px;
    padding: 10px;
    /*background-color: lightcyan;*/
    width: 95%;
    max-width: 1680px;
}
.jumpVendor{
    font-size: 15px;
}
.accountsDiv{
    padding: 10px;
}
h3.accountName{
    font-size: 20px;
    color:cadetblue;
}
/*table styling*/
table {
    border-collapse: collapse;
    width: 100%;
}
.accountsDiv {
    padding-top: 10px;
}

h3.vendorName{
    font-size: 25px;
}
.preview{
    text-align: center;
    width: 100px;
}

h3.vendorPer{
    color:cadetblue;
}
.flagRed{
    color:red;
}

.flagGreen{
    color:green;
}
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
th {
    color: black;
    background: lightsteelblue;
}

table tr:nth-child(even){
    background: #F3F3F3;
}

.clearStylesOutput{
    overflow: visible !important;
    width: 140% !important;
 }

/*@media print {*/
/*    .previewCol{*/
/*        opacity: 0;*/
/*    }*/
/*}*/